[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
htmltools = "==0.5.1"
natsort = "==8.4.0"
numpy = "==1.26.4"
pandas = "==2.2.2"
pymssql = "==2.3.0"
shiny = "==0.9.0"
shinyswatch = "==0.6.1"

[dev-packages]

[requires]
python_version = "3.12"
